NumberOfHotels 100
NumberOfTransporters 100
NumberOfClients 100
NumberOfTours 1000
StartYear 2015
EndYear 2020
SaveAggregator true
LoadAggregator false

NumberOfHotels 10
NumberOfTransporters 10
NumberOfClients 10
NumberOfTours 100
StartYear 2021
EndYear 2023
SaveAggregator false
LoadAggregator true